body{
	background-image:url("./5B2C9A72-6089-40C0-B303-03EC4D252C8D.gif");
	background-color:black;
	background-position:center;
	background-size:content;
}

body,
html{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	overflow:hidden;
}

#video-transition{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:1000;
	background:black;
	pointer-events:none;
}

.hidden{
	display:none;
}

.transition-video{
	width:100%;
	height:auto;
}

.nav-link{
	margin-right:10px;
	color:white;
	text-decoration:none;
	background:black;
	padding:10px;
	border-radius:5px;
}

.nav-link:hover{
	background:gray;
}

.coming-soon1{
	text-decoration:none;
	text-align:center;
	display:flex;
}

.coming-soon{
	border:solid white;
	border-radius:5px;
	font-size:xx-large;
	font-family:courier;
	background-color:black;
	color:white;
	padding:20px;
	text-align:center;
	display:flex;
	flex-direction:column;
	text-decoration:none;
	justify-content:center;
}
