body,
html{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	overflow:hidden;
}

.coming-soon1{
	text-decoration:none;
	text-align:center;
	display:flex;
}

.coming-soon{
	border:solid white;
	border-radius:5px;
	font-size:xx-large;
	font-family:courier;
	background-color:black;
	color:white;
	padding:20px;
	text-align:center;
	display:flex;
	flex-direction:column;
	text-decoration:none;
	justify-content:center;
}
